@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

/*solution*/

body {
    display: flex;
    flex-direction: column;
}

.header,
.footer,
ul,
.left-links,
.right-links {
    display: flex;
    gap: 18px;
    list-style: none;
    color: gainsboro;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: grey;
}
.header {
    padding: 20px;
}
.footer {
    padding: 20px;
    background-color: #eee;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

button {
    height: 36px;
    padding: 12px;
}
