/* Add CSS Styling */

.first_button {
    background-color: black;
    color: white;
}

.second_button {
    background-color: yellow;
}

button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}
