body {
    background: #eee;
    font-family: sans-serif;
}

* {
    padding: 18px;
    margin: 18px;
}

.card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
}

.title {
    background: #e3f4ff;
}

.content {
    background: #e3f4ff;
}

.button-container {
    background: #e3f4ff;
    text-align: center;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: auto;
}
